body {
    display : flex;
    background-color: aquamarine;
}

.quadrado1{
    margin: 50%;
    padding: 60%;
    border: 1px blue solid;
}
button {
    margin: 50%;
    padding: 60%;
    border: 1px blue solid;
}
.semi1{
    display: flex;
}

.semi2{
    display: flex;
}