body {
    display: flex;
    color:white;
    background-color: black;
    margin:0;
}

h1{
    margin-left: 100px;
}

img{
    height: 80px;
    width: 80px;
    display:block;
}

.menu{
    padding:1%;
}
.tecido{
    color:greenyellow;
}

.options{
    color:black;
    background-color: white;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}




/*Display*/
.display{
    padding: 5px;
    margin-left: 30%;
    height: 400px;
    width:400px;
}



