body {
    display : flex;
    background-color: aquamarine;
}

/* quadrado 1*/
.quadrado1 {
    height: 10%;
}
.semi1{
    display: flex;
}

.semi2{
    display: flex;
}


/*Margem de cada item */
.im1{
    margin:5%;
}
.im2{
    margin:5%;
}
.im3{
    margin:5%;
}
.im4{
    margin:5%;
}

/*Display*/
#tela{
    border: 1px solid black;
    padding: 5px;
    margin-left: 30%;
    margin-top:30%;
}



